<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>
  <body>
    <%- include("comman/header")%>
    <hr />

    <!-- You get the whole html code in display -->
    <!-- <%= include("comman/header")%> -->

    <!-- Not show any property on the display -->
    <!-- <% include("comman/header")%> -->

    <h3>This is a login page</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo commodi
      doloremque, deleniti ab odit vel magnam voluptate, rem assumenda,
      reprehenderit quasi enim accusamus nam iusto maxime aspernatur molestiae
      nemo in.
    </p>

    <hr />
    <%- include("comman/footer") %>
  </body>
</html>
